extends layout
block content
    body
        h1 Reset Password
        form(action="/getPassword" method='post')
            .form-group
            label(for="email") To Reset Passowd, Enter Email below
            br
            input#email.form-control(type='email' name='email')
            br
            input(type="submit" value="submit") 