extends layout
block content
    body
        h1 Welcome to Tactical Fit 
        p.text-left
            | This app is based on the Tactical Barbell(TB) routines. Originally designed for military operatives and combat athletes,
            | TB is a series of strength and conditioning routines designed to work alongside any other physically demanding 
            | activity you may be doing. It has since expanded to include routines which prioritize muscle gain, which are the focus of this app. 
            br
           

            | To begin, 
            br
            a(href="/auth/login" class="btn btn-primary") Login
            |
            | or
            |
            a(href="/auth/register" class="btn btn-primary") Register