extends layout
block content
    .error
    h4=error
    form(action="/resetPass", method="post")
        .form-group 
            label(for='password') Enter New Password Below
            input#password.form-control(type='password' name='password' required)
            br
            input(type='hidden' name='email' value=email)
            button.btn.btn-primary(type='submit') Reset Password!